# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal Debug/Release
/acelero/Debug/
/acelero/Release/

# Excluye carpeta html de doxygen
/acelero/doxygen/html/